<div class="container">
  <form method="post" class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- name -->
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput required formControlName="firstName" />
    </mat-form-field>
    <!-- Last name -->
    <mat-form-field appearance="fill">
      <mat-label>Last name</mat-label>
      <input matInput required formControlName="lastName" />
    </mat-form-field>
    <!-- Date of birth -->
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!-- FE technology ([angular, react, vue]) -->
    <mat-form-field appearance="fill">
      <mat-label>FE technology</mat-label>
      <mat-select formControlName="framework" (valueChange)="onChange($event)">
        <mat-option value="Angular">Angular</mat-option>
        <mat-option value="React">React</mat-option>
        <mat-option value="Vue">Vue</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- FE technology version -->
    <mat-form-field appearance="fill">
      <mat-label>FE technology version</mat-label>
      <mat-select formControlName="frameworkVersion">
        <mat-option
          *ngFor="let version of versions"
          [value]="version"
          >{{ version }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <!-- email -->
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput required formControlName="email" />
    </mat-form-field>

    <app-hobby-form
      [form]="form"
      (onAddHobby)="addHobby()"
      [hobbies]="hobbies"
    ></app-hobby-form>

    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>

<!-- <mat-error *ngIf="fontSizeControl.invalid">Min size: 10px</mat-error> -->
